<!DOCTYPE html>
<html>

	<head>
		<title>WriteStart | Profile</title>

			<% include partials/head %>

			<!-- Local -->
		<script type="text/javascript" src="/static/JS/profile.js"></script>

	</head>

	<body>
		<% include partials/headerBar %>

		<div class="container" id="page-wrapper">

			<header class="header" id="profile-header">
				<div class="page-header">
					<h1>Hello <small><%= userInfo.firstName %></small></h1>
					<h2><small>A.K.A</small> <%= userInfo.userName %></h2>
				</div>
			</header>

			<div class="row">
				<div class="col-md-10" id="profile-header">
					<div class="col-md-3" id="profilePic-container">
						<img src="/static/img/ProfilePic_placeholder.png">
					</div>
					<div class="col-md-8" id="infoContainer">
						<div id="user-infoPanel">

						</div>
					</div>
				</div>
			</div>



			<!-- test upload full -->
			<div class="col-md-4">
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3>New File</h3>
					</div>
					<div class="panel-body">
						<form id="addNewFile">
							<div class="form-group">
								<input type="text" class="form-control" name="submission[title]" placeholder="Title" id="named">
							</div>

							<div class="form-group">
								<select class="form-control selectpicker show-tick" multiple title="Choose Genres that Apply" name="submission[genre]" id="genre-pick">
									<optgroup label="Genre">
										<option value="General">General Fiction</option>
										<option value="Adventure">Adventure</option>
										<option value="Bizarro">Bizarro</option>
										<option value="Fantasy">Fantasy</option>
										<option value="Historical">Historical Fiction</option>
										<option value="Horror">Horror</option>
										<option value="Humor/Satire">Humor/Satire</option>
										<option value="Military/War">Military/War</option>
										<option value="Mystery/Crime">Mystery/Crime</option>
										<option value="Novel Chapter (Gen.)">Novel Chapter (General)</option>
										<option value="Offbeat/Odd">Offbeat/Odd</option>
										<option value="Romance">Romance</option>
										<option value="Sci-fi">Science Fiction</option>
										<option value="Short Story (Gen.)">Short Story (General)</option>
										<option value="Thriller/Suspense">Thriller/Suspense</option>
										<option value="Western">Western</option>
										<option value="Women's Lit.">Women's Literature</option>
										<option value="Young Adult">Young Adult</option>
									</optgroup>
								</select>
							</div>

							<div class="form-group">
								<textarea id="submitted" name="submission[content]" placeholder="Paste story body here."></textarea>
							</div>

							<button class="btn btn-default btn-sm" type="submit">Add File</button>
						</form>
					</div>
				</div>
			</div>





			<div class="button-group" role="group">
				<a href="/signup"><button type="button" class="btn btn-sm btn-success">Sign Up</button></a>
				<a href="/"><button type="button" class="btn btn-sm btn-info">Home</button></a>
				<a href="/fileTest"><button type="button" class="btn btn-sm btn-warning">Test File Page</button></a>
			</div>

				<!-- Profile Body -->
			<div class="col-md-12" id="profile-body">
				<div class="col-md-4">
					<div class="row">
						<div class="panel panel-warning">
							<div class="panel-heading">
								<h3>Edited</h3>
							</div>
							<div class="panel-body">
								<ul class="list-unstyled">
									<li>This will be a table</li>
									<li>Words: Words words</li>
									<li>Words: Words words</li>
									<li>Words: Words words</li>
									<li>Words: Words words</li>
									<li>Words: Words words</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="panel panel-success">
							<div class="panel-heading">
								<h3>What You've Edited</h3>
							</div>
							<div class="panel-body">
								<ul class="list-unstyled">

								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3>Your Stories</h3>
						</div>
						<div class="panel-body">
							<div class="col-md-4 col-md-offset-1">
								<!-- forEach template function goes here -->
								<ul class="list-unstyled">
									<% userInfo.submissions.forEach( function (submission) { %>
										<li>
											<div class="submission-page" >
												<button class="delete close" id="<%= submission.id %> <%=userInfo._id%>" type="button" aria-label="Close">&times;</button>

												<h4><%= submission.title %></h4>
												<h5><small><%= submission.genre %></small></h5>

											</div>
										</li>
									<% }); %>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-2">
					<div class="panel panel-danger">
						<div class="panel-heading">
							<h3>Friends</h3>
						</div>
						<div class="panel-body">
							<ul class="list-unstyled">
								<li>
									<div class="row">
										<div id="media img-wrap">
											<img class="media-object img-thumbnail" id="minpro-pic" src="/static/img/ProfilePic_placeholder.png">
										</div>
										<div class="friend-username">
											<h4>Username</h4>
										</div>
									</div>
								</li>
								<li>
									<div class="row">
										<div id="media img-wrap">
											<img class="media-object img-thumbnail" id="minpro-pic" src="/static/img/ProfilePic_placeholder.png">
										</div>
										<div class="friend-username">
											<h4>Username</h4>
										</div>
									</div>
								</li>
								<li>
									<div class="row">
										<div id="media img-wrap">
											<img class="media-object img-thumbnail" id="minpro-pic" src="/static/img/ProfilePic_placeholder.png">
										</div>
										<div class="friend-username">
											<h4>Username</h4>
										</div>
									</div>
								</li>
								<li>
									<div class="row">
										<div id="media img-wrap">
											<img class="media-object img-thumbnail" id="minpro-pic" src="/static/img/ProfilePic_placeholder.png">
										</div>
										<div class="friend-username">
											<h4>Username</h4>
										</div>
									</div>
								</li>
								<li>
									<div class="row">
										<div id="media img-wrap">
											<img class="media-object img-thumbnail" id="minpro-pic" src="/static/img/ProfilePic_placeholder.png">
										</div>
										<div class="friend-username">
											<h4>Username</h4>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>






			<!-- Content -->

			<footer>
			</footer>
		</div>

	</body>
</html>



<!--
//////////////////////////////////////////////

////// notes

	- Have a "tutorial" div that pops up with screen shots on how to use the profile on the first time someone is logged in from the sign up page. The screenshots will highlight things needed done and have a little character(?) who points to what to do.


////////////////////////////////////////////
 -->
